Car Price Detection

1) Problem statement.
This dataset comprises used cars sold on cardehko.com in India as well as important features of these cars.
If user can predict the price of the car based on input features.
Prediction results can be used to give new seller the price suggestion based on market condition.

2) Data Collection.
The Dataset is collected from scrapping from cardheko webiste
The data consists of 13 column and 15411 rows.

In [33]:
!pip install plotly

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: plotly in c:\users\kumma\appdata\roaming\python\python312\site-packages (5.19.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\kumma\appdata\roaming\python\python312\site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in c:\users\kumma\appdata\roaming\python\python312\site-packages (from plotly) (23.2)

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [35]:
df = pd.read_csv(r"C:\Users\kumma\Data_science_Projects\Random forest\cardekho_imputated.csv",index_col=[0])

In [36]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

Data Cleaning
Handling Missing values

In [37]:
#check Null values
#check features with nan value
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [38]:
#Remove Unnecessary columns
df.drop('car_name',axis=1,inplace=True)
df.drop('brand',axis=1,inplace=True)

In [39]:
df.head(7)

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
5,Wagon R,8,35000,Individual,Petrol,Manual,18.90,998,67.10,5,350000
6,i10,8,40000,Dealer,Petrol,Manual,20.36,1197,78.90,5,315000

In [40]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [41]:
#Different types of features
num_features = [feature for feature in df.columns if df[feature].dtype != 'O']
print('Num of numerical features :', len(num_features))
cat_features = [feature for feature in df.columns if df[feature].dtype == 'O']
print('Num of categorical features :', len(cat_features))
discrete_features = [feature for feature in num_features if len(df[feature].unique()) <= 25]
print('number of discrete features:',len(discrete_features))
continuous_features = [feature for feature in num_features if feature not in discrete_features]
print('number of continuous features:',len(continuous_features))

Num of numerical features : 7
Num of categorical features : 4
number of discrete features: 2
number of continuous features: 5

Independent and Dependent features

In [42]:
X = df.drop(['selling_price'],axis=1)
y = df['selling_price']

Feature Encoding and Scaling
One Hot Encoding for Columns which had lesser unique values and not ordinal

One hot encoding is a process by which categorical variables are converted into a form that could be provided to ML algorithms to do a better job in prediction.

In [43]:
len(df['model'].unique())

120

In [44]:
df['model'].value_counts()

model
i20            906
Swift Dzire    890
Swift          781
Alto           778
City           757
              ...
Ghibli           1
Altroz           1
GTC4Lusso        1
Aura             1
Gurkha           1
Name: count, Length: 120, dtype: int64

In [45]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['model'] = le.fit_transform(X['model'])

In [46]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [47]:
print(len(df['seller_type'].unique()))
print(len(df['fuel_type'].unique()))
print(len(df['transmission_type'].unique()))

3
5
2

In [48]:
#Create Column Transformer with 3 types of transformers
#Column Transformer allows to apply differen transformations to the different columns in the dataset
num_features = X.select_dtypes(exclude='object').columns
#returns numerical column names
#categorical columns in data frame
onehot_columns = ['seller_type','fuel_type','transmission_type']
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')
#it will drop the first category in each feature to avoid multicollinearity.
preprocessor = ColumnTransformer(
    [
        ('OneHotEncoder',oh_transformer, onehot_columns),
        ("StandardScaler",numeric_transformer, num_features)
    ], remainder= 'passthrough' #ensures that any columns not explicitly transformed are kept as they are.
)

In [49]:
X = preprocessor.fit_transform(X)

In [50]:
#X is a numpy.ndarray, convert it to data frame
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.508844,0.983562,-0.869744,0.026096,-0.767733,-0.757204,-0.403022
15407,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.556082,-1.339555,-0.728763,-0.527711,-0.216964,-0.220803,2.073444
15408,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.407551,-0.012060,0.220539,0.344954,0.022918,0.068225,-0.403022
15409,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.426247,-0.343933,72.541850,-0.887326,1.329794,0.917158,2.073444
15410,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.024131,-1.339555,-0.825631,-0.407839,0.020999,0.395884,-0.403022

Train Test split

In [51]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=12)

In [52]:
X_train.shape, X_test.shape

((10787, 14), (4624, 14))

In [53]:
X_train

array([[ 1.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.43722506, -0.40302241],
       [ 0.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.43722506, -0.40302241],
       [ 0.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.40697251, -0.40302241],
       ...,
       [ 0.        ,  0.        ,  1.        , ..., -0.45684593,
        -0.62106748, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.43582879, -0.40302241],
       [ 1.        ,  0.        ,  1.        , ...,  0.21482334,
         0.07008692, -0.40302241]])

Model Training and Selection

In [54]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

Function to evaluate model

In [55]:
def evauate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    mse = mean_squared_error(true,predicted)
    rmse = np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true,predicted)
    return mae, rmse, r2_square

Training of Models

In [56]:
models = {
    "LinearRegression" : LinearRegression(),
    "Lasso" : Lasso(),
    "Ridge" : Ridge(),
    "K-Neighbors": KNeighborsRegressor(),
    "DecisionTreeRegressor" : DecisionTreeRegressor(),
    "RandomForestRegressor" : RandomForestRegressor(),
}
for i in range(len(list(models))):
    model = list(models.values())[i]
    #train the model
    model.fit(X_train,y_train)
    #make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    # Evaluate train and test dataset
    model_train_mae, model_train_rmse, model_train_r2 = evauate_model(y_train,y_train_pred)
    model_test_mae, model_test_rmse, model_test_r2 = evauate_model(y_test,y_test_pred)
    print(list(models.keys())[i])
    print("model performance on training set")
    print("-Root mean squared error: {:.4f}".format(model_train_rmse))
    print("-mean absolute error: {:.4f}".format(model_train_mae))
    print("- R2 score: {:.4f}".format(model_train_r2))
    print("model performance on testing set")
    print("-Root mean squared error: {:.4f}".format(model_test_rmse))
    print("-mean absolute error: {:.4f}".format(model_test_mae))
    print("- R2 score: {:.4f}".format(model_test_r2))
    print('='*35)
    print('\n')

LinearRegression
model performance on training set
-Root mean squared error: 494923.4113
-mean absolute error: 263456.7163
- R2 score: 0.6617
model performance on testing set
-Root mean squared error: 647570.1344
-mean absolute error: 262968.6936
- R2 score: 0.5699
===================================


Lasso
model performance on training set
-Root mean squared error: 494923.4175
-mean absolute error: 263454.5048
- R2 score: 0.6617
model performance on testing set
-Root mean squared error: 647569.2801
-mean absolute error: 262963.8128
- R2 score: 0.5699
===================================


Ridge
model performance on training set
-Root mean squared error: 494924.8768
-mean absolute error: 263415.9900
- R2 score: 0.6617
model performance on testing set
-Root mean squared error: 647579.7358
-mean absolute error: 262896.4043
- R2 score: 0.5698
===================================


K-Neighbors
model performance on training set
-Root mean squared error: 251246.7536
-mean absolute error: 90899.3256
- R2 score: 0.9128
model performance on testing set
-Root mean squared error: 526329.2635
-mean absolute error: 115939.6248
- R2 score: 0.7158
===================================


DecisionTreeRegressor
model performance on training set
-Root mean squared error: 18377.1441
-mean absolute error: 4385.3651
- R2 score: 0.9995
model performance on testing set
-Root mean squared error: 508676.8317
-mean absolute error: 135892.9895
- R2 score: 0.7346
===================================


RandomForestRegressor
model performance on training set
-Root mean squared error: 106645.4542
-mean absolute error: 39100.6878
- R2 score: 0.9843
model performance on testing set
-Root mean squared error: 438135.4863
-mean absolute error: 104530.8176
- R2 score: 0.8031
===================================

Hyper parameter Tuning

In [57]:
knn_param = {'n_neighbors':[2,3,10,20,40,50]}
rf_params = {'max_depth':[3,5,8,10,15,None],
             "max_features":[3,5,7,9,"auto"],
             "min_samples_split":[2,4,8,16,20],
             "n_estimators":[100,200,500,1000]}

In [58]:
#list of models for hyperparameter tuning
randomcv_models = [('KNN',KNeighborsRegressor(),knn_param),
                   ('RF',RandomForestRegressor(),rf_params)]

In [59]:
#Hyper parameter tuning
from sklearn.model_selection import RandomizedSearchCV
model_param ={}
for name,model,parameters in randomcv_models:
    random = RandomizedSearchCV(estimator=model,param_distributions=parameters,
                                n_iter=100,cv=3,verbose=2,n_jobs=-1)
    random.fit(X_train,y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"------Best Params for{model_name}------")
    print(model_param[model_name])

Fitting 3 folds for each of 6 candidates, totalling 18 fits
Fitting 3 folds for each of 100 candidates, totalling 300 fits
------Best Params forKNN------
{'n_neighbors': 3}
------Best Params forRF------
{'n_estimators': 100, 'min_samples_split': 2, 'max_features': 7, 'max_depth': None}

Retrain the model with best hyperparameters

In [62]:
models = {
    "RandomForestRegressor" : RandomForestRegressor(n_estimators= 100, min_samples_split = 2, max_features= 7, max_depth = None, n_jobs=-1),
    "K-Neighbore Regressor": KNeighborsRegressor(n_neighbors=3,n_jobs=-1)
}
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    model_train_mae, model_train_rmse, model_train_r2 = evauate_model(y_train,y_train_pred)
    model_test_mae, model_test_rmse, model_test_r2 = evauate_model(y_test,y_test_pred)
    print(list(models.keys())[i])
    print("model performance on training set")
    print("-Root mean squared error: {:.4f}".format(model_train_rmse))
    print("-mean absolute error: {:.4f}".format(model_train_mae))
    print("- R2 score: {:.4f}".format(model_train_r2))
    print("model performance on testing set")
    print("-Root mean squared error: {:.4f}".format(model_test_rmse))
    print("-mean absolute error: {:.4f}".format(model_test_mae))
    print("- R2 score: {:.4f}".format(model_test_r2))
    print('='*35)
    print('\n')

RandomForestRegressor
model performance on training set
-Root mean squared error: 96742.3768
-mean absolute error: 38674.0192
- R2 score: 0.9871
model performance on testing set
-Root mean squared error: 439656.5904
-mean absolute error: 102372.6809
- R2 score: 0.8017
===================================


K-Neighbore Regressor
model performance on training set
-Root mean squared error: 225448.9206
-mean absolute error: 77375.1815
- R2 score: 0.9298
model performance on testing set
-Root mean squared error: 504036.8313
-mean absolute error: 114468.1373
- R2 score: 0.7394
===================================